
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bemblin | Togetherness </title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">

    
  </head>
  <body>
  <!-- This demo uses float grid but you can use flex grid too -->



  <div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
  <div class="top-bar" id="example-menu">
    <div class="top-bar-left">
<nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <h1 class="menu-text">bemblin </h1>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <a class="button">Login</a>
          
        </li>
      </ul>
    </div>
  </div>
</nav>
    </div>
    </div>
    </div>
<div class="darken"></div>
<div class="row">

<div class ="portrait">
  <div class="column ">
  <div class="darken">
<figure class="orbit-figure">
    <img class="orbit-image" src="images/world.gif">
    </figure>
    </div>

    </div>
    </div>
  <div class="column">

    <!-- Begining of slider -->
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <div class="orbit-wrapper">
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
          <li class="is-active orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" src="images/1.jpg" alt="Space">
              <figcaption class="orbit-caption">Gamification, learning.</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" src="images/2.jpg" alt="Space">
              <figcaption class="orbit-caption">Bridgin the gap!</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" src="images/3.jpg" alt="Space">
              <figcaption class="orbit-caption">Encapsulating</figcaption>
            </figure>
          </li>
    
        </ul>
      </div>
      <nav class="orbit-bullets">
        <button class="is-active" data-slide="4">
          <span class="show-for-sr">First slide details.</span>
          <span class="show-for-sr" data-slide-active-label>Current Slide</span>
        </button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
      </nav>
    </div>
    
    
    </div>
</div>


<hr>


<div class="full-width-testimonial">
  <div class="full-width-testimonial-section">
    <div class="full-width-testimonial-icon text-center">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="41px" height="34px" viewBox="-235 240 41 34" style="enable-background:new -235 240 41 34;" xml:space="preserve">
          <path class="quote-path" d="M-231.3,260.4c0-5,1.3-8.8,3.7-11.7c2.4-2.8,6-4.6,10.5-5.5v5c-3.5,1-6,2.8-7.1,5.5c-0.7,1.4-0.9,2.8-0.8,4
            h8.1v12.8h-14.4V260.4z"/>
          <path class="quote-path" d="M-212,260.4c0-5,1.3-8.8,3.7-11.7c2.4-2.8,6-4.6,10.5-5.5v5c-3.5,1-6,2.8-7.1,5.5c-0.7,1.4-0.9,2.8-0.8,4h8.1
            v12.8H-212V260.4z"/>
      </svg>
    </div>
    <div class="full-width-testimonial-content">
      <h5 class="full-width-testimonial-text">Lake Tahoe is the most beautiful place I have ever been to. I have traveled several places in the world, and there might be more beautiful places out there, but none that I have seen. I loved it!
      </h5>
      <p class="full-width-testimonial-source">Gavin Newman</p>
      <span class="full-width-testimonial-source-context">Traveled from San Francisco to Lake Tahoe</span>
    </div>
  </div>
</div>










<hr>


  <div class="row demo-toggle-title">
    <div class="columns">



<div id="engadget-footer-sitemap-container">
  <footer id="engadget-footer-sitemap">
    <div class="links">
      <div class="link-column">
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
      <div class="link-column">
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
      <div class="link-column">
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
      <div class="link-column">
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<div id="engadget-footer-social-container">
  <footer id="engadget-footer-social">
    <div class="footer-left">
      <div class="newsletter">
        <h6>Sign up for our newsletter</h6>
        <div class="input-group">

          <input class="input-group-field" type="email" placeholder="Email address">
          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>
        </div>
      </div>
    </div>
    <div class="footer-right">
      <h6>Follow us</h6>
      <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
      <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
      <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
      <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
    </div>
  </footer>
</div>
<div id="engadget-footer-contact-details-container">
  <footer id="engadget-footer-contact-details">
    <div class="footer-left">
      <div class="contact-details">
        <ul>
          <li><img class="thumbnail" src="images/Bemblin.PNG" width="80" height="80"></li>
          <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 01234 567890</li>
          <li><a data-toggle="animatedModal10"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact us</a></li>
          <li><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Street, City, County, Country</li>
        </ul>
      </div>
    </div>
    <div class="footer-right">
      <ul class="menu align-right">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>
  </footer>
</div>




    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
